@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #58a6ff;
  --bg-dark: #0d1117;
  --bg-card: #161b22;
  --border: #30363d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}